{% extends "master.html" %}
{% load i18n %}

{% block title %} &mdash; {% trans 'New Category' %}{% endblock %}

{% block body %}

<div id="newCategory">
    <p>{% trans 'Add a new category for' %}
    <em>{{ subject.name }}</em>:</p>
    <form method="post" action="{% url 'front.views.addCategory' subject.uuid %}">
    	{% csrf_token %}
        <ul>
            {{ add_category_form.as_ul }}
        </ul>
        <input type="submit" name="submit" value="{% trans 'Add' %}" />
    </form>
</div>

{% endblock %}
