{% extends "master.html" %}
{% load i18n %}

{% block title %} &mdash; {% trans 'Password reset request' %}{% endblock %}

{% block body %}
    <div id="forgot_password">
        <p>{% trans 'Please, provide us with your ratonator username or the email account you registered with.' %}</p>
        <p>{% trans 'You will receive an email with instructions for reseting your password.' %}</p>
        <form method="post" action="{% url 'front.views.forgot_password' %}">
            {% csrf_token %}
            <ul>
                {{ forgot_password_form.as_ul }}
            </ul>
            <input type="submit" name="submit" value="{% trans 'Send' %}" />
        </form>
    </div>
{% endblock %}
