{% extends "master.html" %}
{% load i18n %}

{% block title %} &mdash; {% trans 'Password reset request' %}{% endblock %}

{% block body %}
    <div id="password_reset">
        <p>{% trans 'Your password reset request was accepted.' %}</p>
        <p>{% trans 'Please, inform the new password you want to access ratonator.' %}</p>
        <form method="post" action="{% url 'front.views.password_reset' key %}">
            {% csrf_token %}
            <ul>
                {{ password_reset_form.as_ul }}
            </ul>
            <input type="submit" name="submit" value="{% trans 'Set' %}" />
        </form>
    </div>
{% endblock %}
