{% extends "master.html" %}
{% load i18n %}

{% block title %} &mdash; {% trans '500 Server Error' %}{% endblock %}

{% block body %}
    <h1>500 Server Error</h1>
    <h2>{% trans 'Yes, we are sloppy...' %}</h2>
    <p>{% trans "Someone made something stupid, an email is now being sent to the Boss and all hell is about to break loose... Business as usual!" %}</p>
    <p>{% trans "If this problem caused you to lose an unreplaceable piece of inspiration or something you have been painfully typing for the last hours or well... Someone is, at this very moment, sharing your pain!" %}</p>
    <p>{% trans "The problem information has been collected and is now being analyzed " %}</p>
{% endblock %}
