{% load i18n %}

<div id="languageSelector">
        <a href="{% url front.views.language 'en' %}"><img src="/static/images/flags/en_US.png" alt="EUA" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'de' %}"><img src="/static/images/flags/de_DE.png" alt="Germany" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'es' %}"><img src="/static/images/flags/es_ES.png" alt="Spain" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'fr' %}"><img src="/static/images/flags/fr_FR.png" alt="France" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'he' %}"><img src="/static/images/flags/he_IL.png" alt="Israel" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'it' %}"><img src="/static/images/flags/it_IT.png" alt="Italy" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'ja' %}"><img src="/static/images/flags/ja_JP.png" alt="Japan" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'ko' %}"><img src="/static/images/flags/ko_KR.png" alt="Korea" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'pl' %}"><img src="/static/images/flags/pl_PL.png" alt="Poland" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'pt' %}"><img src="/static/images/flags/pt_BR.png" alt="Brazil" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'en' %}"><img src="/static/images/flags/en_NZ.png" alt="New Zeland" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'ru' %}"><img src="/static/images/flags/ru_RU.png" alt="Russian" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'ar' %}"><img src="/static/images/flags/ar_SA.png" alt="Arabian" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'zh' %}"><img src="/static/images/flags/zh_CN.png" alt="China" width="16" height="16" border="0" /></a>
</div>
