{% load i18n %}

<div id="languageSelector">
        <a href="{% url front.views.language 'en' %}"><img src="/static/images/flags/Usa.png" alt="EUA" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'pt' %}"><img src="/static/images/flags/Brazil.png" alt="Brazil" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'zh' %}"><img src="/static/images/flags/China.png" alt="China" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'de' %}"><img src="/static/images/flags/Germany.png" alt="Germany" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'es' %}"><img src="/static/images/flags/Spain.png" alt="Spain" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'fr' %}"><img src="/static/images/flags/France.png" alt="France" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'pl' %}"><img src="/static/images/flags/Poland.png" alt="Poland" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'en' %}"><img src="/static/images/flags/New Zealand.png" alt="New Zeland" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'ru' %}"><img src="/static/images/flags/Russian Federation.png" alt="Russian" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'ar' %}"><img src="/static/images/flags/Saudi Arabia.png" alt="Arabian" width="16" height="16" border="0" /></a>
        <a href="{% url front.views.language 'ja' %}"><img src="/static/images/flags/Japan.png" alt="Japan" width="16" height="16" border="0" /></a>
</div>
