{% load i18n %}

<div id="logon">
    {% if user.is_authenticated %}
        <div id="loggedUser">{{ user.username }} <a href="{% url front.views.logoff %}">{% trans 'Logout' %}</a></div>
    {% else %}
        <form action="{% url front.views.logon %}" method="post">
            <ul>
            {{ logon_form.as_ul }}
            </ul>
            <input type="submit" name="logonSubmit" value="{% trans 'Logon' %}" />
        </form>
        <a href="{% url front.views.register %}">{% trans 'Register' %}</a>
    {% endif %}
</div>
