{% extends "master.html" %}
{% load i18n %}

{% block title %} &mdash; {% trans 'Password reset request' %}{% endblock %}

{% block body %}
    <div id="password_change">
        <p>{% trans 'Your password reset request was accepted.' %}</p>
        <p>{% trans 'Please, inform your new password for accessing ratonator.' %}</p>
        <form method="post" action="{% url front.views.password_change %}">
            <ul>
                {{ password_change_form.as_ul }}
            </ul>
            <input type="submit" name="submit" value="{% trans 'Confirm' %}" />
        </form>
    </div>
{% endblock %}
