{% extends "master.html" %}
{% load i18n %}

{% block title %} &mdash {% trans 'New user registration' %}{% endblock %}

{% block inside_head %}
<style type="text/css">
<!--
register {
    #rigth {
    width: 280px;
    height: 280px;
    float:right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333;
}
input {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333;
    border: 1px solid #7b1f10;
    padding-left: 2px;
    padding-top: 2px;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-right: 3px;
}
.bnt {
    width: 56px;
    height:19px;
    background-image: url(/static/images/bnt.gif);
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
}
-->
</style>
{% endblock %}

{% block body %}

<div id="register">
    <form method="post" action="{% url front.views.register %}">
        <ul>
            {{ register_form.as_ul }}
        </ul>
        <input type="submit"  class="bnt" name="submit" value="{% trans 'Register' %}" />
    </form>
</div>

{% endblock %}
