{% extends "master.html" %}
{% load i18n %}
{% load ratonator %}

{% block title %} &mdash; {{ subject.name }} ({{ subject.language }}) {% endblock %}

{% block inside_head %}

    <style type="text/css">
        #subject_subject {
            background-color: silver;
            float: left;
        }

        #subject_subject a:visited {
            color: #707070;
        }

        #subject_categories, #subject_subjectDetails, #subject_subjects {
            float: left;
            margin: 5px;
            padding: 5px;
            border: 2px solid #AAAAAA;
            background-color: white;
        }

        #subject_categories, #subject_subjects {
            width: 20%;
        }

        #subject_subjectDetails {
            width: 40% 
        }
    </style>
    <script type="text/javascript">
    $(document).ready();
    </script>

{% endblock %}

{% block body %}

    <div id="subject_subject">
    
        <div id="subject_categories">
            <p>
                <span id="subject_categories_title">{% trans 'Categories:' %}</span>
                {% if user.is_authenticated %}
                    <a href="{% url front.views.addCategory subject.uuid %}">{% trans 'New' %}</a>
                {% endif %}
            </p>
            {% if subjects_above %}
                <ul>
                    {% for subject_above in subjects_above %}
                        <li>
                            {% rateable subject_above.category follow=True %}
                            {% rateable subject_above follow=False %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans 'Nothing above!' %}</p>
            {% endif %}
        </div>
        
        <div id="subject_subjectDetails">
            <p>
                {% rateable subject %}
            </p>
            <div id="subject_definitions">
                <p><span id="subject_definitions_title">{% trans 'Definitions:' %}</span></p>
                {% if user.is_authenticated %}
                    <a href="{% url front.views.addDefinition subject.uuid %}">{% trans 'New' %}</a></p>
                {% endif %}
                {% if definitions %}
                    <ul>
                        {% for definition in definitions %}
                            <li>
                                {% rateable definition follow=False %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans 'No definitions!' %}</p>
                {% endif %}
            </div>
            <div id="subject_rates">
                <p><span id="subject_rates_title">{% trans 'Rates:' %}</span></p>
                {% if rates %}
                    <ul>
                        {% for rate in rates %}
                            <li>
                                {% rateable rate follow=False %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans 'No rates!' %}</p>
                {% endif %}
            </div>
        </div>
        
        <div id="subject_subjects">
            <p>{% trans 'Subjects' %}</p>
            {% if subjects_below %}
                <ul>
                    {% for subject_below in subjects_below %}
                            <li>
                                {% rateable subject_below.subject follow=True %}
                            </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans 'Nothing Below!' %}</p>
            {% endif %}
        </div>
        
    </div>

{% endblock %}
