{% extends "master.html" %}
{% load i18n %}

{% block inside_head %}

    <style type="text/css">
        #subject_subject {
            background-color: silver;
            float: left;
        }

        #subject_subject a:visited {
            color: #707070;
        }

        #subject_categories, #subject_subjectDetails, #subject_subjects {
            float: left;
            margin: 5px;
            padding: 5px;
            border: 2px solid #AAAAAA;
            background-color: white;
        }

        #subject_categories, #subject_subjects {
            width: 20%;
        }

        #subject_subjectDetails {
            width: 50% 
        }
    </style>
    <link href="/static/css/ratonator.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">
    $(document).ready();
    </script>

{% endblock %}

{% block body %}

    <div id="subject_subject">
    
        <div id="subject_categories">
            <p><span id="subject_categories_title">{% trans 'Categories:' %}</span>
            {% if user.is_authenticated %}
                <a href="{% url front.views.addCategory subject.language subject.nameSlugged %}">{% trans 'New' %}</a></p>
            {% endif %}
            {% if subjects_above %}
                <ul>
                    {% for subject_above in subjects_above %}
                        <li>
                        {% with subject_above.category as cat %}
                            <!-- TODO: Create a template filter to generate those subject markers -->
                            <span id="cat{{ cat.uuid}}" class="rateable">
                                <span class="rateable_name"><a href="{% url front.views.subject cat.language cat.nameSlugged %}">{{ cat.name }}</a></span>
                                <span class="rateable_average">{{ cat.average_rate|default:"&mdash;" }}</span>
                                <span class="rateable_votes">{{ cat.rate_count }}</span>
                                <span class="rateable_creator">{{ cat.createdBy.user.username }}</span>
                            </span>
                        {% endwith %}
                        {% with subject_above as ab %}
                            <span id="cls{{ ab.uuid }}" class="rateable">
                                <span class="rateable_name">&lt;&lt;</span>
                                <span class="rateable_average">{{ ab.average_rate|default:"&mdash;" }}</span>
                                <span class="rateable_votes">{{ ab.rate_count }}</span>
                                <span class="rateable_creator">{{ ab.createdBy.user.username }}</span>
                            </span>
                        {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans 'Nothing above!' %}<p>
            {% endif %}
        </div>
        
        <div id="subject_subjectDetails">
            <p>
                <span id="sub{{ subject.uuid }}" class="rateable">
                    <span class="rateable_name">{{ subject.name }}</span>
                    <span class="rateable_average">{{ subject.average_rate|default:"&mdash;" }}</span>
                    <span class="rateable_votes">{{ subject.rate_count }}</span>
                    <span class="rateable_creator">{{ subject.createdBy.user.username }}</span>
                </span>
            </p>
            <div id="subject_definitions">
                <p><span id="subject_definitions_title">{% trans 'Definitions:' %}</span>
                {% if user.is_authenticated %}
                    <a href="{% url front.views.addDefinition subject.language subject.nameSlugged %}">{% trans 'New' %}</a></p>
                {% endif %}
                {% if definitions %}
                    <ul>
                        {% for definition in definitions %}
                            <li>
                                <span id="def{{ definition.uuid }}" class="rateable">
                                    <span class="rateable_name">{{ definition.theDefinition }}</span>
                                    <span class="rateable_average">{{ definition.average_rate|default:"&mdash;" }}</span>
                                    <span class="rateable_votes">{{ definition.rate_count }}</span>
                                    <span class="rateable_creator">{{ definition.createdBy.user.username }}</span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans 'No definitions!' %}</p>
                {% endif %}
            </div>
            <div id="subject_rates">
                <p><span id="subject_rates_title">{% trans 'Rates:' %}</span>
                {% if user.is_authenticated %}
                    <a href="{% url front.views.addRate subject.language subject.nameSlugged %}">{% trans 'New' %}</a></p>
                {% endif %}
                {% if rates %}
                    <ul>
                        {% for rate in rates %}
                            <li>
                                <span class="rateable">
                                    <span class="rateable_rate">{{ rate.theRate }}</span>
                                    <span class="rateable_name">{{ rate.comments }}</span>
                                    <span class="rateable_average">{{ rate.average_rate|default:"&mdash;" }}</span>
                                    <span class="rateable_votes">{{ rate.rate_count }}</span>
                                    <span class="rateable_creator">{{ rate.createdBy.user.username }}</span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans 'No rates!' %}</p>
                {% endif %}
            </div>
        </div>
        
        <div id="subject_subjects">
            <p>{% trans 'Subjects' %}</p>
            {% if subjects_below %}
                <ul>
                    {% for subject_below in subjects_below %}
                        {% with subject_below.subject as su %}
                            <li>
                                <span class="rateable">
                                    <span class="rateable_name"><a href="{% url front.views.subject su.language su.nameSlugged %}">{{ su.name }}</a></span>
                                    <span class="rateable_average">{{ subject_below.average_rate|default:"&mdash;" }}</span>
                                    <span class="rateable_votes">{{ subject_below.rate_count }}</span>
                                    <span class="rateable_creator"> {{ subject_below.createdBy.user.username }}</span>
                                </span>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans 'Nothing Below!' %}</p>
            {% endif %}
        </div>
        
    </div>

{% endblock %}
