{% extends "master.html" %}
{% load i18n %}

{% block title %} &mdash; {% trans 'New Definition' %}{% endblock %}

{% block body %}

<div id="add_definition">
    <p>{% trans 'Add a new definition for' %}
    <em>{{ subject.name }}</em>:</p>
    <form method="post" action="{% url front.views.addDefinition subject.uuid %}">
    	{% csrf_token %}
        <ul>
            {{ add_definition_form.as_ul }}
        </ul>
        <input type="submit" name="submit" value="{% trans 'Add' %}" />
    </form>
</div>

{% endblock %}
