{% load i18n %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/cacheable/__v_e_r_s_i_o_n__/css/ratonator.css" />
</head>
<body>
<div id="addRate">
    <p>{% trans 'Rate' %}
    <em>{{ subject.description }}</em>:</p>
    <form method="post" action="{% url front.views.add_rate rateable_uuid %}">
        <ul>
            {{ add_rate_form.as_ul }}
        </ul>
        <input type="submit" name="submit" value="{% trans 'Create' %}" />
        <button type="button" onClick='self.parent.tb_remove();'>{% trans 'Cancel' %}</button>
    </form>
</div>
</body>
</html>